# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.nx/cache/lockfile.hash
.nx/cache/file-map.json
.nx/cache/nx_files.nxt
.nx/cache/parsed-lock-file.json
.nx/cache/project-graph.json
.nx/cache/cloud/2402.08.4/index.js
.nx/cache/cloud/verify.lock
.nx/cache/cloud/2402.08.4/package.json
.nx/cache/cloud/2402.08.4/lib/daemon/process-run-end.js
.nx/cache/cloud/2402.08.4/lib/heartbeat/heartbeat-process.js
.nx/cache/d/daemon.log
